.app {
	text-align: center;
	color: yellow;
	margin: 40px;
	font-size: 24px;
}

.errorLabel {
	color: red;
}
input {
	margin-top: 15px;
	font-size: 24px;
	padding: 12px;
	margin-right: 12px;
}

button {
	margin: 20px;
	font-size: 24px;
	padding: 7px;
}