.app {
	margin: 50px 0 0 200px;
	font-size: 24px;
}

.errorLabel {
	color: rgb(0, 255, 255);
	margin-left: 5px;
	white-space: pre;
	font-size: 20px;
}

input {
	width: 450px;
	margin: 12px 0;
	font-size: 24px;
	padding: 12px;
	border-radius: 5px;
	border: none;
	color: darkblue;
}

button {
	width: 450px;
	margin: 30px auto;
	font-size: 24px;
	padding: 12px;

	background-color: rgb(193, 112, 127);
	color: whitesmoke;
	box-shadow: 2px 2px 4px rgb(67, 57, 57);

	cursor: pointer;
	border-radius: 5px;
	border: none;
	transition: 0.5s;
}

button:hover {
	color: rgb(0, 255, 255);
	background-color: rgb(217, 147, 177);
	box-shadow: 2px 1px 4px gray;
}
